<strong>Hello, {{ provider }}</strong>

<p>An appointment was cancelled. More infos below:</p>
<p>
    <strong>Costumer: </strong> {{ user }} <br />
    <strong>Date/Time:</strong> {{ date }} <br />
    <br />

    <small>
        This time is already available for new appointments.
    </small>
</p>
